<!-- partial work -->
         <tr>
            <td><center><%= link_to 'View', work %></center></td>
            <td><%= work.user %></td>
            <td><%= work.project %></td>
            <td><%= work.datetimeperformed.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= work.hours %></td>
         </tr>