<h1>Project: <%= @project.name %></h1>

<p>Company: <%= @project.company.name %></p>
<p>Default rate: <%= @project.default_rate %></p>
<p>Slug: <%= @project.slug %></p>
<p>Owner: <%= @project.user %></p>

<!-- edit  -->
<p><%=  link_to 'Edit Project', edit_project_path(@project) %></p>

<!-- for ajax -->
<div class="remoteform">
   <h2>Add Work</h2>
   <%= render partial: 'works/form', locals: {doajax: true} %>
</div>

<!-- c'e' un problema: quando il progetto non ha work items, aggiungendo -->
<!-- il primo work item la pagina non viene aggiornata via ajax -->

<p>Total number of work items for this project: <%= @project.works.size %></p>
<% if @project.works.size > 0 %>
   <table>
      <tbody>
         <tr id="headerrow">
            <th>View</th>
            <th>Consultant</th>
            <th>Project</th>
            <th>Date & Time</th>
            <th>Hours</th>
         </tr>
 
         <%= render partial: "works/work", collection: @project.works %> 
      </tbody>
   </table>
<% else %>
   <p>No work items</p>
<% end  %>

<!-- <p><%= link_to 'All Projects', projects_path %></p> -->
<% content_for :aside do %>
   <% render 'sidebar' %>
<% end %>
