<h1>Create New Company</h1>


<!--<%= form_for (@company) do |f| %>
   <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
   </div>
   <div>
      <%= f.submit "Add Company" %>
   </div>
<% end %> -->

<%= render 'form' %>

<% content_for :aside do %>
	<%= render 'sidebar' %> 
<% end %>