<h1>Company: <%= @company.name %></h1>
<!-- edit  -->
<p><%=  link_to 'Edit Company', edit_company_path(@company) %></p>



<!-- only show if there is at least 1 project -->
<% if @company.projects.size > 0 %>

<table>
   <tbody>
      <tr>
         <th>Project</th>
         <th>Company</th>
      </tr>
      <% @company.projects.each do |c| %>
         <tr>
            <td><%= link_to c, c %></td>
            <td><%= link_to c.company.name, c.company %></td>
         </tr>
      <% end %>
   </tbody>
</table>

<% else %>

<p>No Projects</p>

<% end %>
<!-- <p><%= link_to 'All Companies', companies_path %></p> -->

<% content_for :aside do %>
	<%= render 'sidebar' %>
<% end %>