<!DOCTYPE html>
<html>
<head>
  <title>Timetracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
   <header>
      <!-- 1st attempt <%= link_to 'Time Tracker', root_url %>  -->
      <%= link_to content_tag('canvas', 'TimeTracker', id: 'logocanvas'), root_url %>
      <nav>
         <ul>
      <!-- gives the class active only to the active element -->
      <!-- comment override: now using the nav helper -->
      <!-- third stage: using an array of hashes -->
             <% nav_items.each do |n| %>
                <%= display_nav_item(n[:displaytext],n[:controllername],n[:linkurl]) %>
             <% end %>
         </ul>
      </nav>
   </header>
   <!-- <div>Your IP is <%= request.remote_ip %></div> -->
   <section id="main">
      <article>
         <!-- show both notice and alert -->
         <% [:notice, :alert].each do |level| %>
            <% if flash[level] %>
               <div class="flash <%= level %>"><%= flash[level] %></div>
            <% end %>
         <% end %>
         <%= yield %>
      </article>
      <aside>
         <%= user_logged_in_msg %>
         <%= yield :aside %>
      </aside>
   </section>
   <footer>
      <p>Time Tracker is a <em>Sample Company</em> App</p>
   </footer>
</div>
</body>
</html>
