<!DOCTYPE html>
<html>
<head>
  <title>Timetracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
   <header>
      <ul>
 <!-- gives the class active only to the active element -->
 <!-- comment override: now using the nav helper -->
          <%= display_nav_item('Companies', 'companies', companies_path) %>
          <%= display_nav_item('Projects', 'projects', projects_path) %>
          <%= display_nav_item('Works', 'works', works_path) %>
      </ul>
   </header>
   <section id="main">
      <article>
         <%= yield %>
      </article>
      <aside>
         <%= yield :aside %>
      </aside>
   </section>
   <footer>
      <p>Time Tracker is a <em>Sample Company</em> App</p>
   </footer>
</div>
</body>
</html>
